################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dll2TSQLCreateAssembly/obj/Debug/Dll2TSQLCreateAssembly.pdb
