################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dll2TSQLCreateAssembly/obj/Debug/Dll2TSQLCreateAssembly.pdb
/Dll2TSQLCreateAssembly/obj/Debug/Dll2TSQLCreateAssembly.exe
/Dll2TSQLCreateAssembly/obj/Debug/Dll2TSQLCreateAssembly.csprojAssemblyReference.cache
/Dll2TSQLCreateAssembly/obj/Debug/Dll2TSQLCreateAssembly.csproj.FileListAbsolute.txt
/Dll2TSQLCreateAssembly/obj/Debug/Dll2TSQLCreateAssembly.csproj.CoreCompileInputs.cache
/Dll2TSQLCreateAssembly/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Dll2TSQLCreateAssembly/obj/Debug
/Dll2TSQLCreateAssembly/bin/Debug
/Dll2TSQLCreateAssembly.sln.DotSettings.user
/.vs/Dll2TSQLCreateAssembly/v16
